<% if flash.has?(:error) %>
    <%= flash[:error] %>
<% end %>
</br>

<div class="content">
    <h2>All Property Listings</h2>
    <h3><a href="/propertytypes">Filter by property type</a></h3>
    <p>
    <ul>
    <%@property.each do |property|%> 
        <li>Name: <a href="/properties/<%=property.id%>"><strong><%=property.name%></strong></a></li>
        <li>Location: <%=property.location%></li>
        <li>Price: $<%=property.price%></li></br></br>
    <%end%>
    </ul>
    </p>

    <a href="/properties/new">Create New Listing</a> </br>
    <a href="/users/<%=current_user.id%>">Back to My Account</a>
</div>