<h2>Create New Property</h2>

<form action = '/properties' method="post">
    <p>
    <strong>Name:</strong>
    <input type="text" required name="property[name]">
    </p>    
    
    <p>
    <strong>Location:</strong>
     <input type="text" required name="property[location]" placeholder="city, state">
    </p>
    
    <p>
    <strong>Price: $</strong>
    <input type="text" required name="property[price]">
    </p>

    <p>
    <ul>
    <strong>Property Type:</strong>
    <%PropertyType.all.each do |property_type|%>
        <li>
        <input type="checkbox" id="property_type_<%=property_type.id%>" name="property[property_type_ids][]" value="<%=property_type.id%>">
        <%=property_type.name%></input>
        </li>
    <%end%>
    </ul>
    </p>

    <p>
    Add new property type:
    <input type="text" id= "new_property_type" name="property_type[name]">
    </p>

    <p>
    <strong>Description:</strong> 
    <input type="text" required name="property[description]">
    </p>
    
    <p>
    <ul>
    <strong>Amenities:</strong> 
    <%Amenity.all.each do |amenity|%>
        <li>
        <input type="checkbox" id="amenity_<%=amenity.id%>" name="property[amenity_ids][]" value="<%=amenity.id%>">
        <%=amenity.name%></input>
        </li>
    <%end%>
    </ul>
    </p>
    
    <p>
    Add new amenity:
    <input type="text" id="new_amenity" name="amenity[name]">
    </p>
    
    <p>
    <strong>Available for:</strong> 
    <input type="text" required name="property[available_for]" placeholder="rent or sale">
    </p></br>
    
    <input type="submit" value="Create New"></br></br>
    
    <a href="/properties">Back to Listings</a>
</form>